<!DOCTYPE html>
<html lang="en">
<title>Graduate Student Tracking System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="{% url 'students' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Students</a>
    <a href="{% url 'form_upload' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Upload</a>
    <a href="{% url 'degree_plan' %}" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Degree Plan</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
  </div>
  
<div class="w3-main" style="margin-left:0px;margin-bottom:32px;" id="main">

  <div class="w3-row">
    <div class="w3-container w3-content" style="max-width:1200px;margin-top:80px;">
      {% block content %}{% endblock %}
    </div>
  </div>

<!-- END MAIN -->
</div>

</body>
</html>
