{% extends 'base.html' %}

{% block content %}

<div class="w3-card">
<header class="w3-container w3-pale-red w3-center w3-row">      
    <h2>Confirmation</h2>
</header>
<form method="post" id="confirm_form" class="w3-content" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="w3-large">{{ confirm_message }}</p>
</form>
<div class="w3-content w3-padding-16 w3-center" style="max-width:1200px;">
    <button form='confirm_form' type="submit" class="w3-margin-right w3-button w3-red">Confirm</button>
    <a href="{{ redirect_url }}"><button class="w3-margin-left w3-button w3-theme-d5">Cancel</button></a>
</div>
</div>

{% endblock %}