{% extends 'base.html' %}

{% block content %}

<!--
<script language="javascript">  
    function getobj(id){  
        return document.getElementById(id);  
    }  
    function list(){  
        var date=new Date();  
        var le1=date.getFullYear()-2010;  
        addlist('year1',2010,le1 + 10);  
        addlist('month1',1,12);  
        addlist('day1',1,31);
        addlist('year2',2010,le1 + 10);  
        addlist('month2',1,12);  
        addlist('day2',1,31);
        addlist('year3',2010,le1 + 10);  
        addlist('month3',1,12);  
        addlist('day3',1,31);
        addlist('year4',2010,le1 + 10);  
        addlist('month4',1,12);  
        addlist('day4',1,31);
    }  
    function febday(){// calculate the number of days in Feb and change the day list  
        var year=getobj('year').value;  
        var month=getobj('month').value;  
        var bigm=new Array('1','3','5','7','8','10','12');  
        var bigstr=bigm.join('-');  
        var smallm=new Array('4','6','9','10');  
        var smallstr=smallm.join('-');  
        if(bigstr.indexOf(month)>-1)  
            addlist('day',1,31);  
        if(smallstr.indexOf(month)>-1)  
            day(30);  
        if(month=='2'){  
            if(is_leap_year(year)){  
                day(29);  
            }else{  
                day(28);  
            }  
        }  
    }  
    function day(num){// change the number of days in Feb
        var list=getobj('day');  
        var listlen=list.options.length;  
        for(var i=listlen-1;i>=num;i--){  
            list.options[i]=null;  
        }  
    }  
    function is_leap_year(year){// judge if one year is leap year
        if((year%400==0)||(year%4==0 && year/100!=0))  
            return true;  
        return false;  
    }  
    function addlist(obj,begin,length){// add objects to the list  
        var list=getobj(obj);  
        for(var i=0;i<length;i++){  
            var num=i+begin;  
            list.options[i]=new Option(num,num);  
        }  
    }  
</script>  
-->

{% comment %} Do not delete! {% endcomment %}
<script type="text/javascript">
	window.onload=function(){
        if("{{ option }}" == "add"){ // scroll to bottom when option is "add"
            window.scrollTo(0, document.body.scrollHeight || document.scrollingElement.scrollHeight);
        }
	};
</script>

{% include "messages.html" %}
<div class=" w3-card">
<header class="w3-container w3-theme w3-center w3-row">      
    <h2>Degree Plan</h2>
</header>
<form method="post" id="data_form" enctype="multipart/form-data">{% csrf_token %}
        <table class="w3-container w3-table w3-bordered w3-centered">
            <tr class="w3-theme-l3">
                <th style="width:20%">GS Document</th>
                <th style="width:15%">File</th>
                <th style="width:12%">Uploaded at</th>
                <th style="width:15%">Notes</th>
                <th style="width:12%">Approved CS</th>
                <th style="width:12%">Approved OGS</th>
                <th style="width:10%">Operation</th>
            </tr>
            {% for form in forms %}
                <tr class="w3-hover-light-gray">
                    <td class="w3-padding-48">{{ form.doc_type }}</td>
                    <td class="w3-padding-32">{{ form.doc }}</td>
                    {% if form.instance.uploaded_at %}
                        <td class="w3-padding-48">{{ form.instance.uploaded_at }}</td>
                    {% else %}
                        <td class="w3-padding-48"></td>
                    {% endif %}
                    <td>{{ form.notes }}</td>
                    <td>{{ form.appr_cs_date }}</td>
                    <td>{{ form.appr_ogs_date }}</td>
                    {% if form.instance.id %}
                        <td class="w3-padding-48">
                            <a href="{% url 'degree_plan' option='del' id=form.instance.id %}">
                                <button type="button" class="w3-button w3-red">Delete</button>
                            </a>
                        </td>
                    {% else %}
                        <td class="w3-padding-48"></td>
                    {% endif %}
                </tr>
            {% empty %}
                <p> Data loading failed. </p>
            {% endfor %}
        </table>
</form>
</div>
{% if option == 'add' %}
    <a href="{% url 'degree_plan' %}"><button class="w3-button w3-theme-d5">Cancel</button></a>
{% else %}
    <a href="{% url 'degree_plan' option='add' %}"><button class="w3-button w3-theme-d5">Add</button></a>
{% endif %}
<div class="w3-cell-row w3-center" style="max-width:1200px;">
    <button form='data_form' type="submit" class="w3-button w3-theme-d5">Submit</button>
</div>
{% endblock %}