{% extends 'base.html' %}

{% block content %}

{% comment %} Do not delete! {% endcomment %}
<script type="text/javascript">
	window.onload=function(){
        if("{{ option }}" == "add"){ // scroll to bottom when option is "add"
            window.scrollTo(0, document.body.scrollHeight || document.scrollingElement.scrollHeight);
        }
	};
	function to_edit_page(obj){//redirect to selected edit page
        var deg_id = obj.getAttribute("deg_id")
        var myselect = document.getElementById(deg_id + "_select");
        var sel_val = myselect.options[myselect.selectedIndex].value;
        switch(sel_val){
            case "deg_plan":
                window.open("/degree/" + deg_id + "/degree_plan/");
                break;
            case "pre_exam":
                window.open("/degree/" + deg_id + "/preliminary_exam/");
                break;
            case "t_d_proposal":
                window.open("/degree/" + deg_id + "/thesis_dissertation_proposal/");
                break;
            case "fin_exam":
                window.open("/degree/" + deg_id + "/final_exam/");
                break;
            case "t_d":
                window.open("/degree/" + deg_id + "/thesis_dissertation/");
                break;
            default:
                break;
        }
	};
</script>

<div class=" w3-card w3-margin-bottom">
<header class="w3-container w3-theme w3-center w3-row">      
    <h2>Degrees</h2>
</header>
{% include 'stu_info_line.html' %}
</div>
<div class=" w3-card">
<form method="post" id="data_form" enctype="multipart/form-data">{% csrf_token %}
        <table class="w3-container w3-table w3-bordered w3-centered">
            <tr class="w3-theme-l3">
                <th style="width:5%">Current</th>
                <th style="width:9%">Degree</th>
                <th style="width:17%">First Registered</th>
                <th style="width:17%">Last Registered</th>
                <th style="width:17%">Degree Received</th>
                <th style="width:7%">Operation</th>
                <th style="width:28%">Access</th>
            </tr>
            {% for form in forms %}
                <tr class="w3-hover-light-gray">
                    <td style="width:5%">
                        {% if form.instance.id %}
                            {% if stu %}
                                {% if form.instance.id == cur_deg_id %}
                                    <input class="w3-radio" style="margin-top:2px" type="radio"
                                        name="current" value="{{ form.instance.id }}" checked></td>
                                {% else %}
                                    <input class="w3-radio" style="margin-top:2px" type="radio"
                                        name="current" value="{{ form.instance.id }}"></td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <input class="w3-radio" style="margin-top:2px" type="radio" 
                                name="current" value="0"></td>
                        {% endif %}
                    <td style="width:8%">{{ form.deg_type }}</td>
                    <td class="w3-cell-row" style="width:17%">{{ form.first_reg_sem }} {{ form.first_reg_year }}</td>
                    <td class="w3-cell-row" style="width:17%">{{ form.last_reg_sem }} {{ form.last_reg_year }}</td>
                    <td class="w3-cell-row" style="width:17%">{{ form.deg_recv_sem }} {{ form.deg_recv_year }}</td>
                    {% if form.instance.id %}
                        {% if stu %}
                            <td style="width:7%">
                                <a href="{% url 'degrees' stu_id=stu.id option='del' id=form.instance.id %}">
                                    <button type="button" class="w3-button w3-red">Delete</button>
                                </a>
                            </td>
                        {% else %}
                            <td style="width:7%">
                                <a href="{% url 'degrees' stu_id=0 option='del' id=form.instance.id %}">
                                    <button type="button" class="w3-button w3-red">Delete</button>
                                </a>
                            </td>
                        {% endif %}
                        <td style="width:28%">
                            <select class="w3-select" id="{{ form.instance.id }}_select" style="width: auto;">
                                <option value = "deg_plan">Degree Plan</option>
                                <option value = "pre_exam">Preliminary Exam</option>
                                <option value = "t_d_proposal">Thesis/Dissertation Proposal</option>
                                <option value = "fin_exam">Final Exam (Defense)</option>
                                <option value = "t_d">Thesis/Dissertation</option>
                            </select>
                            <button type="button" class="w3-button w3-theme-d5" id="{{ form.instance.id }}_edit"
                                deg_id="{{ form.instance.id }}" onclick="to_edit_page(this)">Edit</button>
                        </td>
                    {% else %}
                        <td colspan="2"></td>
                    {% endif %}
                </tr>
            {% empty %}
            {% endfor %}
            <tr><td style="width:5%">
                {% if stu %}
                    {% if cur_deg_id == -1 %}
                        <input class="w3-radio" style="margin-top:2px" type="radio" 
                            name="current" value="-1" checked></td>
                    {% else %}
                        <input class="w3-radio" style="margin-top:2px" type="radio" 
                            name="current" value="-1"></td>
                    {% endif %}
                {% endif %}
                <th class="w3-padding-16" colspan="6">No Degree</th>
            </tr>
        </table>
</form>
</div>
{% if stu %}
    {% if option == 'add' %}
        <a href="{% url 'degrees' stu_id=stu.id %}"><button class="w3-button w3-theme-d5">Cancel</button></a>
    {% else %}
        <a href="{% url 'degrees' stu_id=stu.id option='add' %}"><button class="w3-button w3-theme-d5">Add</button></a>
    {% endif %}
{% endif %}
<div class="w3-cell-row w3-center">
    <button form='data_form' type="submit" class="w3-button w3-theme-d5">Submit</button>
</div>
{% endblock %}