<div class="pagination w3-bar w3-cell">
    <span class="step-links">
        {% for neigh_page in neigh_pages %}
            {% if neigh_page == this_page.number %}
                <span class="current">
                    <a href="?page={{ this_page.number }}" class="w3-button w3-hover-light-gray w3-theme-d3">
                        {{ this_page.number }}</a>
                </span>
            {% elif neigh_page == -1 %}
                &nbsp;&nbsp;...&nbsp;&nbsp;
            {% else %}
                <a href="?page={{ neigh_page }}" class="w3-button w3-hover-light-gray">
                    {{ neigh_page }}</a>
            {% endif %}
        {% empty %}
        <span class="current">
            <a href="?page={{ this_page.number }}" class="w3-button w3-hover-light-gray w3-theme-d3">
                {{ this_page.number }}</a>
        </span>
        {% endfor %}
    </span>
</div>