{% extends 'base.html' %}

{% block content %}

{% include "add_doc_js.html" %}

<div class=" w3-card  w3-margin-bottom">
<header class="w3-container w3-theme w3-center w3-row">      
    <h2>Qualifying Exam</h2>
</header>
{% include "degree_info_line.html" %}
</div>
<form method="post" id="data_form" enctype="multipart/form-data">{% csrf_token %}
{% for form in forms %}
    <div class="w3-card w3-margin-bottom">
        <table class="w3-container w3-table w3-bordered w3-centered">
            <tr>
                <th class="w3-padding-16 w3-right-align" style="width:5%">Semester</th>
                <td style="width:21%">{{ form.sem }}{{ form.year }}</td>
                <td style="width:55.6%"></td>
                <th class="w3-padding-16 w3-right-align" style="width:11%">Result</th>
                <td style="width:7.4%">{{ form.result }}</td>
            </tr>
        </table>
        <table class="w3-container w3-table w3-bordered w3-centered">
            {% include "single_doc.html" with doc_url_name='qualifying_exam' %}
        </table>
    </div>
{% endfor %}
</form>
{% include "doc_add_cancel.html" with doc_url_name='qualifying_exam' %}

<div class="w3-cell-row w3-center">
    <button form='data_form' type="submit" class="w3-button w3-theme-d5">Submit</button>
</div>
{% include "delete_record.html" with doc_url_name='qualifying_exam' %}
{% endblock %}