{% extends 'base.html' %}

{% block content %}

{% include "messages.html" %}
<style>a{TEXT-DECORATION:none}</style> 
<header class="w3-container w3-theme w3-center w3-row w3-card">
    <h2>Students</h2>   
</header>
<div class="w3-card w3-margin-top w3-small">
<form method="post" id="search_stu_form">
    {% csrf_token %}
    <table class="w3-table w3-centered">
        <tr>
            <th class="w3-padding-16">UIN:</th><td>{{ form.uin }}</td>
            <th class="w3-padding-16">First Name:</th><td>{{ form.first_name }}</td>
            <th class="w3-padding-16">Last Name:</th><td>{{ form.last_name }}</td>
        </tr>
        <tr>
            <th class="w3-padding-16">Gender:</th><td>{{ form.gender }}</td>
            <th class="w3-padding-16">Current Degree:</th><td>{{ form.cur_degree }}</td>
            <th></th><td></td>
        </tr>
    </table>
</form>
</div>
<div class="w3-cell-row w3-center w3-margin-bottom">
    <button form='search_stu_form' type="submit" class="w3-button w3-theme-d5 w3-center">Search</button>
</div>
<div class="w3-cell-row">
{% include "pagination.html" with this_page=students neigh_pages=neigh_pages %}
<div class="w3-right w3-cell">
    <a href="{% url 'create_stu' %}"><button class="w3-button w3-theme-d5">Add</button></a>
</div>
</div>
<table class="w3-container w3-table w3-bordered w3-centered w3-card">
    <tr class="w3-theme-l3">
        <th style="width:15%">UIN</th>
        <th style="width:20%">Name</th>
        <th style="width:10%">Gender</th>
        <th style="width:10%">Current Degree</th>
        <th style="width:15%">Operation</th>
        <th style="width:30%">Access</th>
    </tr>
    {% for stu in students %}
    <tr class=" w3-hover-light-gray">
        <td class="w3-padding-16">{{ stu.uin }}</td>
        <td class="w3-padding-16">{{ stu.first_name }} {{ stu.middle_name }} {{ stu.last_name }}</td>
        <td class="w3-padding-16">{{ stu.get_gender_display }}</td>
        {% if stu.cur_degree %}
            <td class="w3-padding-16">{{ stu.cur_degree.get_deg_type_display }}</td>
        {% else %}
            <td class="w3-padding-16">None</td>
        {% endif %}
        <td>
            <a href="{% url 'edit_stu' id=stu.id %}">
                <button type="button" class="w3-button w3-theme-d5">Edit</button>
            </a>
            <a href="{% url 'delete_stu' id=stu.id %}">
                <button type="button" class="w3-button w3-red">Delete</button>
            </a>
        </td>
        <td>
            <select class="w3-select" id="{{ stu.id }}_select" style="width: auto;">
                <option value ="deg">Degree</option>
                <option value ="cur_deg_plan">Current Degree Plan</option>
            </select>
            <button type="button" class="w3-button w3-theme-d5">Edit</button>
        </td>
    </tr>
    {% empty %}
    <tr><th colspan="6">No eligible student.</th></tr>
    {% endfor %}
</table>
<div class="w3-cell-row w3-center w3-padding-16">
{% include "pagination.html" with this_page=students %}
</div>
{% endblock %}