{% extends 'base.html' %}

{% block content %}

{% comment %} Do not delete! {% endcomment %}
<script type="text/javascript">
	function to_edit_page(obj){//redirect to selected edit page
        var stu_id = obj.getAttribute("stu_id")
        var deg_id = obj.getAttribute("deg_id")
        var myselect = document.getElementById(stu_id + "_select");
        var sel_val = myselect.options[myselect.selectedIndex].value;
        switch(sel_val){
            case "deg":
                window.open("/student/" + stu_id + "/degrees/");
                break;
            case "cur_deg_plan":
                window.open("/degree/" + deg_id + "/degree_plan/");
                break;
            case "cur_pre_exam":
                window.open("/degree/" + deg_id + "/preliminary_exam/");
                break;
            case "cur_t_d_proposal":
                window.open("/degree/" + deg_id + "/thesis_dissertation_proposal/");
                break;
            case "cur_fin_exam":
                window.open("/degree/" + deg_id + "/final_exam/");
                break;
            case "cur_t_d":
                window.open("/degree/" + deg_id + "/thesis_dissertation/");
                break;
            default:
                break;
        }
	};
</script>

<style>a{TEXT-DECORATION:none}</style> 
<header class="w3-container w3-theme w3-center w3-row w3-card">
    <h2>Students</h2>   
</header>
<div class="w3-card w3-margin-top w3-small">
<form method="post" id="search_stu_form">
    {% csrf_token %}
    <table class="w3-table w3-centered">
        <tr>
            <th class="w3-padding-16">UIN:</th><td>{{ form.uin }}</td>
            <th class="w3-padding-16">First Name:</th><td>{{ form.first_name }}</td>
            <th class="w3-padding-16">Last Name:</th><td>{{ form.last_name }}</td>
        </tr>
        <tr>
            <th class="w3-padding-16">Gender:</th><td>{{ form.gender }}</td>
            <th class="w3-padding-16">Status:</th><td>{{ form.status }}</td>
            <th class="w3-padding-16">Current Degree:</th><td>{{ form.cur_degree }}</td>
            <th></th><td></td>
        </tr>
    </table>
</form>
</div>
<div class="w3-cell-row w3-center w3-margin-bottom">
    <button form='search_stu_form' type="submit" class="w3-button w3-theme-d5 w3-center">Search</button>
</div>
<div class="w3-cell-row">
{% include "pagination.html" with this_page=students neigh_pages=neigh_pages %}
<div class="w3-right w3-cell">
    <a href="{% url 'create_stu' %}" target="_blank"><button class="w3-button w3-theme-d5">Add</button></a>
</div>
</div>
<table class="w3-container w3-table w3-bordered w3-centered w3-card">
    <tr class="w3-theme-l3">
        <th style="width:10%">UIN</th>
        <th style="width:16%">Name</th>
        <th style="width:9%">Gender</th>
        <th style="width:8%">Status</th>
        <th style="width:14%">Current Degree</th>
        <th style="width:13%">Operation</th>
        <th style="width:30%">Access</th>
    </tr>
    {% for stu in students %}
    <tr class=" w3-hover-light-gray">
        <td class="w3-padding-16">{{ stu.uin }}</td>
        <td class="w3-padding-16">{{ stu.first_name }} {{ stu.middle_name }} {{ stu.last_name }}</td>
        <td class="w3-padding-16">{{ stu.get_gender_display }}</td>
        <td class="w3-padding-16">{{ stu.get_status_display }}</td>
        {% if stu.cur_degree %}
            <td class="w3-padding-16">{{ stu.cur_degree.get_deg_type_display }}</td>
        {% else %}
            <td class="w3-padding-16">None</td>
        {% endif %}
        <td>
            <a href="{% url 'edit_stu' id=stu.id %}" target="_blank">
                <button type="button" class="w3-button w3-theme-d5">Edit</button>
            </a>
            <a href="{% url 'delete_stu' id=stu.id %}">
                <button type="button" class="w3-button w3-red">Delete</button>
            </a>
        </td>
        <td>
            <select class="w3-select" id="{{ stu.id }}_select" style="width: auto;">
                <option value ="deg">Degrees</option>
                {% if stu.cur_degree %}
                    <option value = "cur_deg_plan">Current Degree Plan</option>
                    <option value = "cur_pre_exam">Current Preliminary Exam</option>
                    <option value = "cur_t_d_proposal">Current Thesis/Dissertation Proposal</option>
                    <option value = "cur_fin_exam">Current Final Exam (Defense)</option>
                    <option value = "cur_t_d">Current Thesis/Dissertation</option>
                {% endif %}
            </select>
            {% if stu.cur_degree %}
                <button type="button" class="w3-button w3-theme-d5" id="{{ stu.id }}_edit"
                    stu_id="{{ stu.id }}" deg_id="{{ stu.cur_degree.id }}" onclick="to_edit_page(this)">Edit</button>
            {% else %}
                <button type="button" class="w3-button w3-theme-d5" id="{{ stu.id }}_edit"
                    stu_id="{{ stu.id }}" deg_id="0" onclick="to_edit_page(this)">Edit</button>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr><th colspan="7">No eligible student.</th></tr>
    {% endfor %}
</table>
<div class="w3-cell-row w3-center w3-padding-16">
{% include "pagination.html" with this_page=students %}
</div>
{% endblock %}